*{
  padding: 0px;
  margin: 0px;
}
.App{
  background-color:#e5dfdf;
  height: 100vh;
}
.inputbox{
  padding-top: 10rem;
}
.delete-button{
  visibility: hidden;
}
.table-row:hover .delete-button{
  visibility: visible;
}
.chart{
  margin-top: 0px;
  opacity: 0.5;
  align-items: center;
}