*{
  padding: 0px;
  margin: 0px;
}
.App{
  background-color:white;
  height: 100vh;
}
.inputbox{
  padding-top: 10rem;
}
.delete-button{
  visibility: hidden;
}
.table-row:hover .delete-button{
  visibility: visible;
}
.chart{
  opacity: 0.5;
  height: 100vh;
}
.chart-area{
padding-left: 23%;
padding-top: 10rem;
}
.stock-infor{
  margin-top: 7rem;
  width: 60%;
}
.chart-title{
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  color : black
}
.img{
  margin-top: 10rem;
  margin-left: 15rem;
  height: 200px;
  width: 200px;
}
.logo{
  width: 100vw;
  align-self: center;
}
